/* ######################### CSS RESET ######################### */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	-webkit-appearance: none;
}

/* ######################### CSS RESET ######################### */

/* ###### FONT DECLARATION ###### */

@font-face {
	font-family: Roboto;
	src: url(Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(Roboto-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: Roboto;
	src: url(Roboto-Italic.ttf);
	font-style: italic;
}

/* ###### MAIN STYLING ###### */

body {
	font-family: Roboto, Arial, sans-serif;
}

/* Body fills whole page */
html, body {
    margin: 0;
	height: 100%;
}

/* COLOURS
	Focus (blue) : 00A7E1
*/

.form-logo-a {
	outline: none;
	border: none;

	display: inline-block;
	margin: 0 auto;

	border-radius: 0.125rem;
}

.form-logo-a:hover,
.form-logo-a:focus {
	box-shadow: 0 0 0.25rem 0.125rem #00487C;
}

.form-logo-center {
	width: 5rem;

	box-sizing: border-box;
	padding: 0.5rem;
	
}

.form-outer-div {
	display: block;

	width: 90%;
	max-width: 30rem;

	box-sizing: border-box;
	padding: 1rem;
	margin: 0 auto;

	/* border: solid 0.0625rem #cccccc; */
	box-shadow: 0 0.125rem 0.25rem 0 #cccccc;
	border-radius: 0.25rem;
}

.form-h1 {
	display: block;
	font-size: 1.5rem;

	text-align: center;

	box-sizing: border-box;
	padding-bottom: 0.5rem;

	border-bottom: solid 0.25rem #333333;
}

.main-form {
	display: block;

	width: 95%;
	max-width: 22rem;

	margin-left: auto;
	margin-right: auto;
}

.form-instructions {
	display: block;
	text-align: center;
	margin-top: 1rem;

	padding: 1rem 0;
}

.form-label {
	display: block;

	margin-top: 1rem;
}

.form-input {
	padding: 0;
	border: none;
	outline: none;
	-webkit-appearance: none;

	display: block;

	width: 100%;
	font-size: 1rem;

	margin-top: 0.25rem;

	box-sizing: border-box;
	padding: 0.75rem 0.5rem;
	border: solid 0.0625rem #cccccc;
	border-radius: 0.25rem;

	transition: all 0.2s;
}

.form-input:focus {
	border-color: #00A7E1;
	box-shadow: 0 0 0.25rem 0 #00A7E1;
}

.basic-btn {
	padding: 0;
	border: none;
	outline: none;
	text-decoration: none;
	text-align: center;

	display: block;

	width: 100%;
	font-size: 1rem;

	margin: 1rem 0;

	box-sizing: border-box;
	padding: 0.75rem;
	border-radius: 0.125rem;

	transition: all 0.2s;
	cursor: pointer;
}

.form-btn {
	background: linear-gradient(0deg, #0496FF 0%, #31A9FF 100%);
	color: #FFFFFF;
}

.form-btn:hover,
.form-btn:focus {
	box-shadow: 0 0 0.125rem 0.125rem #00487C;
}

.form-p {
	display: block;
	margin-top: 2rem;
	text-align: center;
}

.form-a {	
	background: linear-gradient(0deg, #3EC300 0%, #61CD2E 100%);
	color: #FFFFFF;
}

.form-a:hover,
.form-a:focus {
	box-shadow: 0 0 0.125rem 0.125rem #00487C;
}

/* New checkbox div */
.form-checkbox {
	display: block;
	position: relative;

	margin-top: 0.5rem;
	text-align: left;
}

.form-checkbox label {
	display: inline-block;

	box-sizing: border-box;
	padding-top: 0.125rem;
	padding-left: 1.3rem;

	font-size: 0.9rem;

	text-align: left;

	cursor: pointer;
}

/* Hide original checkbox */
.form-checkbox input {
	position: absolute;
	top: 0;
	left: 0;

	opacity: 0;
}

/* Create new checkbox */
.form-checkbox input + label::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";

	width: 0.8rem;
	height: 0.8rem;

	border: 0.0625rem solid #bbbbbb;
	border-radius: 0.125rem;

	transition: all 0.2s;
	cursor: pointer;
}

/* Create checkmark */
.form-checkbox input + label::after {
	position: absolute;
	top: 0.0625rem;
	left: 0.25rem;
	content: "";

	color: #000000;

	width: 0.25rem;
	height: 0.5rem;

	/* Creates a border, removes top and left border to create a backwards "L" shape and then rotates it to create a checkmark */
	border: 0.1825rem solid;
	border-left: 0;
	border-top: 0;
	
	transform: rotate(45deg);

	opacity: 0;
	transition: all 0.15s;
	cursor: pointer;
}

.form-checkbox input:focus + label::before, .form-checkbox input:hover + label::before {
	border-color: #00A7E1;
	box-shadow: 0 0 0.25rem 0 #00A7E1;
}

.form-checkbox input:checked + label::after {
	opacity: 1;
}

.input-error {
	display: block;

	color: red;

	margin-top: 0.125rem;
	padding: 0.5rem 0.25rem;
}

.invalid-input {
	border-color: red;
}

.banner-outer {
	position: fixed;
	display: block;
	width: 100%;

	background-color: #0496FF;
	color: #ffffff;

	text-align: center;
}

.banner-success {
	background-color: #61CD2E;
}

.banner-text {
	display: inline-block;

	text-align: center;

	box-sizing: border-box;
	padding: 1rem;
}

.banner-btn {
	padding: 0;
	border: none;
	outline: none;
	text-decoration: none;
	text-align: center;

	float: right;
	display: block;

	background-color: transparent;
	color: #ffffff;

	font-size: 1rem;
	
	box-sizing: border-box;
	padding: 0.5rem 0.75rem;

	border-radius: 0.125rem;

	margin-top: 0.4125rem;
	margin-right: 0.4125rem;

	transition: all 0.2s;
	cursor: pointer;
}

.banner-btn:hover,
.banner-btn:focus {
	background-color: #00487C;
}

.banner-btn-success:hover,
.banner-btn-success:focus {
	background-color: #50A826;
}

.banner-a {
	border: none;
	outline: none;

	color: #ffffff;

	border-radius: 0.125rem;

	transition: all 0.2s;
	cursor: pointer;
}

.banner-a:hover,
.banner-a:focus {
	background-color: #00487C;
	padding: 0.125rem 0.25rem;
}

.forgot-pw-a {
	outline: none;

	float: right;
	margin-top: 0.25rem;
	margin-bottom: 0.5rem;

	font-size: 0.9rem;

	color: #0496FF;

	box-sizing: border-box;
	padding: 0.25rem;
	border-radius: 0.125rem;

	text-decoration: none;
	transition: all 0.2s;
}

.forgot-pw-a:hover,
.forgot-pw-a:focus {
	box-shadow: 0 0 0.25rem 0.0625rem #00A7E1;
}

.back-a {
	outline: none;

	display: inline-block;
	margin-top: 0.5rem;
	margin-bottom: -0.5rem;

	color: #0496FF;

	box-sizing: border-box;
	padding: 0.5rem;
	border-radius: 0.125rem;

	text-decoration: none;
	transition: all 0.2s;
}

.back-a:hover,
.back-a:focus {
	box-shadow: 0 0 0.25rem 0.0625rem #00A7E1;
}

.header-bar {
	background-color: #FFC857;
	display: flex;
}

.header-logo-name-div {
	display: inline-flex;
	align-items: center;
}

.header-logo {
	outline: none;
	border: none;

	display: inline-block;
	margin-left: 2rem;

	padding: 0 0.25rem;
	border-radius: 0.125rem;
}

.header-logo:hover,
.header-logo:focus {
	box-shadow: 0 0 0.25rem 0.125rem #00487C;
}

.header-name {
	display: inline-block;
	font-size: 0.9rem;
	margin: 0 0.5rem;
}

.header-ul {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;

	margin-right: 0;
	margin-left: auto;
}

.header-li {
	float: left;
}

.header-li a {
	outline: none;

	display: block;

	color: #000000;
	text-align: center;
	text-decoration: none;

	font-size: 0.9rem;

	padding: 1.125rem 2rem;

	transition: all 0.2s;
}

.header-li a:hover,
.header-li a:focus {
	background-color: #00A7E1;
	color: #ffffff;
}

.icon-space::after {
	white-space: pre;
	content: " ";
}

.main-body-div {
	display: block;
	margin: 0;
	height: 100%;

	background-color: #aaaaaa;

	white-space: nowrap;

	overflow: scroll;
}

.list-div {
	display: inline-flex;
	flex-direction: column;

	vertical-align: top;
	background-color: #ffffff;

	width: 15rem;
	min-width: 15rem;
	padding: 0.5rem 1rem;
	margin: 1rem;

	border-radius: 0.25rem;
}

.list-title {
	outline: none;
	text-decoration: none;
	border: none;
	
	display: block;
	border-bottom: solid 0.25rem #dddddd;

	background-color: transparent;
	color: #000000;

	text-align: left;

	border-radius: 0.25rem;

	font-size: 1.15rem;
	padding: 1rem 0.5rem;

	transition: all 0.2s;
	cursor: pointer;
}

.list-title:hover,
.list-title:focus {
	box-shadow: 0 0 0.25rem 0.0625rem #00A7E1;
}

.item-div {
	display: flex;
	align-items: stretch;

	margin-top: 0.5rem;

	white-space: normal;

	box-sizing: border-box;
	border-radius: 0.25rem;
	box-shadow: 0 0.125rem 0.125rem 0.0625rem #aaaaaa;
}

.item-div .tick-a {
	display: flex;
	align-items: center;
}

.item-div .save-btn {
	justify-content: center;
}

.item-a {
	outline: none;
	text-decoration: none;
	border: none;

	flex-grow: 1;

	display: inline-block;
	background-color: transparent;
	color: #000000;
	font-size: 0.9rem;
	text-align: left;

	box-sizing: border-box;
	padding: 1.5rem 1rem;
	margin-right: 0.25rem;

	border-radius: 0.25rem;

	transition: all 0.2s;
	cursor: pointer;
}

.item-a:hover,
.item-a:focus {
	box-shadow: 0 0 0.25rem 0.0625rem #00A7E1;
}

.item-textarea {
	min-width: 0;
	resize: none;
	word-wrap: break-word;
	-webkit-appearance: none;
}

.list-input {
	display: block;
	max-height: 1.1rem;
}

.list-title-btn {
	line-height: 1.15rem;
	background-color: transparent;
	cursor: pointer;
}

.tick-a {
	outline: none;
	border: none;

	text-decoration: none;

	background-color: transparent;
	color: #000000;

	padding: 0 1rem;
	border-radius: 0.25rem;

	font-size: 1rem;
	transition: all 0.2s;
	cursor: pointer;
}

.new-item-btn-div {
	display: flex;
	flex-direction: column;
}

.item-btn {
	min-width: 0;
	outline: none;
	border: none;
	padding: none;

	display: flex;
	justify-content: center;

	flex: 1;

	text-decoration: none;

	box-sizing: border-box;
	padding: 0 0.6rem;
	font-size: 0.9rem;

	margin: 0.125rem;
	border-radius: 0.25rem;

	transition: all 0.2s;
	cursor: pointer;
}

.save-btn {
	background-color: transparent;
	color: #61CD2E;
}

.save-btn:hover,
.save-btn:focus {
	background-color: #61CD2E;
	color: #ffffff;
}

.cancel-btn {
	background-color: transparent;
	color: red;
}

.cancel-btn:hover,
.cancel-btn:focus {
	background-color: red;
	color: #ffffff;
}

.check-a:hover,
.check-a:focus {
	box-shadow: 0 0 0.25rem 0.0625rem #61CD2E;
	color: #61CD2E;
}

.add-item-div {
	text-align: right;
	margin-top: 1rem;
	margin-bottom: 0.75rem;
}

.add-item-btn {
	outline: none;
	border: none;

	background-color: transparent;
	color: #000000;
	border-radius: 0.125rem;
	padding: 0.125rem 0.25rem;

	font-size: 1rem;

	transition: all 0.2s;
	cursor: pointer;
}

.add-item-btn:hover,
.add-item-btn:focus {
	box-shadow: 0 0 0.25rem 0.0625rem #00A7E1;
}

.new-item-error-p {
	color: red;

	text-align: center;
	padding: 0.5rem;
	margin-top: 0.5rem;

	border-radius: 0.25rem;
	box-shadow: 0 0 0 0.0625rem red;
}

.new-list-error-p {
	color: red;

	text-align: center;
	padding: 0.5rem;
	margin-top: 0.5rem;

	border-radius: 0.25rem;
	box-shadow: 0 0 0 0.0625rem red;
}

.new-list-control-div {
	display: flex;
}

.new-list-btn {
	outline: none;
	border: none;
	padding: none;

	flex: 1;

	font-size: 1rem;
	padding: 0.5rem;
	margin: 0.5rem;
	border-radius: 0.125rem;

	transition: all 0.2s;
	cursor: pointer;
}

.create-btn {
	background: linear-gradient(0deg, #3EC300 0%, #61CD2E 100%);
	color: #ffffff;
}

.create-btn:hover,
.create-btn:focus {
	box-shadow: 0 0 0.25rem 0.125rem #00487C;
}

@media only screen and (max-width: 768px) {
	.header-bar {
		display: block;
	}
	.header-logo-name-div {
		display: flex;
		justify-content: center;
	}
	.header-logo {
		margin: 0;
	}
	.header-ul {
		float: none;
		width: 100%;
		margin: 0;
	}
	.header-li-inner-div {
		float: right;
	}
	.header-li a {
		padding: 0.75rem 0.5rem;
		text-align: center;
	}
	.header-li a i {
		display: block;
		margin-bottom: 0.25rem;
	}
	.header-li a i::after {
		content: none;
	}
}

.modal {
	display: flex;

	align-content:flex-start;
	justify-content: center;

	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;

	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
  
.list-modal-content {
	background-color: #ffffff;
	
	width: 98%;
	max-width: 25rem;

	margin-top: 25vh;
	margin-bottom: auto;

	border-radius: 0.0625rem;
}

.list-modal-header {
	display: flex;
	background-color: #FFC857;

	box-sizing: border-box;
	padding: 0.3rem;
}

.list-modal-header-span {
	font-size: 1.5rem;

	padding: 0.7rem;
}

.list-modal-close {
	border: none;
	padding: none;
	outline: none;

	background-color: transparent;
	color: #000000;

	flex: 0;
	margin-right: 0;
	margin-left: auto;
	padding: 0 1rem;
	border-radius: 0.25rem;

	font-size: 1rem;

	transition: all 0.2s;
	cursor: pointer;
}
  
.list-modal-close:hover,
.list-modal-close:focus {
	background-color: #D1A448;
	color: #ffffff;
	box-shadow: 0 0 0.25rem 0.125rem #00487C;
}

.list-modal-form {
	display: block;
	padding: 0 1rem 1rem 1rem;
}

.list-modal-controls {
	margin-top: 0.5rem;
}

.list-modal-save-cancel {
	float: right;
}

.list-modal-btn {
	outline: none;
	border: none;
	padding: none;

	font-size: 0.9rem;

	box-sizing: border-box;
	padding: 0.5rem 0.75rem;
	border-radius: 0.25rem;


	transition: all 0.2s;
	cursor: pointer;
}

.list-modal-save-btn {
	float:right;

	margin-left: 0.5rem;
}

.list-modal-cancel-btn {
	background-color: red;
	color: #ffffff;
}

.list-modal-cancel-btn:hover,
.list-modal-cancel-btn:focus {
	box-shadow: 0 0 0.25rem 0.125rem #570418;
}

.undo-btn {
	outline: none;
	border: none;
	padding: none;

	display: fixed;
	position: absolute;

	background-color: #FFC857;
	color: #000000;

	left: 50%;
	transform: translateX(-50%);
	bottom: -50%;

	font-size: 1.15rem;
	padding: 0.5rem 1rem;
	border-radius: 2rem;

	transition: all 0.2s;
	cursor: pointer;
}

.undo-btn:hover,
.undo-btn:focus {
	box-shadow: 0 0 0.25rem 0.125rem #00487C;
	background-color: #0496FF;
	color: #ffffff;
}

@media only screen and (max-width: 290px) {
	.list-modal-save-btn {
		margin-bottom: 0.5rem;
	}
}

@media only screen and (max-width: 600px) {
	.banner-btn {
		float: none;
		display: inline-block;

		padding: 0.5rem 1.5rem;
		margin: 0.25rem auto;
	}
}

@keyframes bannerUp {
	0% { top: 0; }
	100% { top: -10rem; }
}

@keyframes buttonFromBotttom {
	0% { bottom: -10%; }
	100% { bottom: 5%; }
}